.fondo{
  background-image: url("../imagenes/fond.jpg");
  color: #FFFFFF;
}
.h1{
  padding: 3%;
}
.izq{
  padding-left: 100%
}
.der{
  padding-left: 0%
}
.gt{
  list-style: none;
  overflow: hidden;
}
.paddingtoptitulo{
  padding-top: 0.5%;
}
.paddingtoptitulo2{
  padding-top: 3%;
}
.paddingportada{
  padding: 10px;
}
.pos{
  position: fixed;
  top: 10px;
  left: 10px;
  width: 500px;
}
.pos2{
  position: fixed;
  top: 0px;
  width:95%;
  max-width: 1000px;
  margin:auto;
  text-align: justify;
}
.left{
  padding-left: 20px;
}
.marquee{
  padding-right: 60px;
}
.hipervinculo{
  color: #FFFFFF;
  text-decoration: none;
}
.centrado{
  align-content: center;
  align-items: center;
  text-align: center;
}
.pelota{
  position: fixed;
}
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.contenedor{
  width:95%;
  max-width: 1000px;
  margin:auto;
  text-align: justify;
}
.contenedor2{
  width:75%;
  max-width: 75%;
  margin:auto;
  text-align: justify;
}
header nav{
  background: #0071C1;
  margin-bottom: 10px;
}
header nav ul{
  list-style: none;
  overflow: hidden;
}
header nav ul li{
  float: left;
}
header nav ul li a{
  display: block;
  padding: 20px;
  color: #FFFFFF;
  text-decoration: none;
}
header nav ul li a:hover{
  background: #005897;
}
.menu-fixed{
  position: fixed;
  z-index: 1000;
  position: 0;
  width: 100%;
  max-width: 1000px;
  box-shadow: 0px 4px 3px rgba(0,0,0,.5)
}
.ebutton{
  color: #ffffff;
  background: transparent;
  border: 2px solid #0099CC;
  border-radius: 6px;
  text-align: center;
  padding: 1px 40px;
}
.ebutton2{
  color: #000000;
  background: #ffffff;
  border: 2px solid #0099CC;
  border-radius: 6px;
  text-align: center;
  padding: 7px 25px;
}
.imgb{
  border-radius: 10px;
}
